# LIBRARIES IMPORTATION

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib.collections import LineCollection
from matplotlib import cm

import warnings
warnings.filterwarnings('ignore')  

pd.set_option('display.max_columns', None)

# DATA IMPORTATION

In [2]:
R=pd.read_csv('../../../../../../Desktop/JULS/DATA_PROJECTS/PROJECTS/NEW_YORK_RESTAURANTS/data/food_order.csv', encoding='latin1', sep=',')

In [3]:
R.head()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [4]:
len(R.columns)

9

In [5]:
R.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               1898 non-null   int64
 1   customer_id            1898 non-null   int64
 2   restaurant_name        1898 non-null   object
 3   cuisine_type           1898 non-null   object
 4   cost_of_the_order      1898 non-null   float64
 5   day_of_the_week        1898 non-null   object
 6   rating                 1898 non-null   object
 7   food_preparation_time  1898 non-null   int64
 8   delivery_time          1898 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 133.6+ KB

In [6]:
#cuisine type, cost of the order, day of the week, rating, food preparation time, delivery time

In [7]:
R.cuisine_type.value_counts() #todo correcto seguimos revisando

American          584
Japanese          470
Italian           298
Chinese           215
Mexican            77
Indian             73
Middle Eastern     49
Mediterranean      46
Thai               19
French             18
Southern           17
Korean             13
Spanish            12
Vietnamese          7
Name: cuisine_type, dtype: int64

In [8]:
R.cost_of_the_order.value_counts() # ver la relacion entre el precio y tipo de comida en tableau

12.18    86
12.13    82
12.23    47
24.20    42
29.10    37
         ..
5.48      1
17.07     1
6.26      1
9.61      1
29.59     1
Name: cost_of_the_order, Length: 312, dtype: int64

In [9]:
R.day_of_the_week.value_counts() #depende del dia que pide más la gente

Weekend    1351
Weekday     547
Name: day_of_the_week, dtype: int64

In [10]:
R.rating.value_counts() #gran numero de personas no deja reseñas

Not given    736
5            588
4            386
3            188
Name: rating, dtype: int64

In [11]:
R.food_preparation_time.head() #estan expresados en minutos

0    25
1    25
2    23
3    25
4    25
Name: food_preparation_time, dtype: int64

In [12]:
R.cost_of_the_order.min()

4.47

In [13]:
R.cost_of_the_order.max()

35.41

In [14]:
R[R['cost_of_the_order']>25] #ver aquellos pedidos que sean mayor de x

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
5,1477224,147468,Tamarind TriBeCa,Indian,25.22,Weekday,3,20,24
17,1477373,139885,Blue Ribbon Sushi Izakaya,Japanese,33.03,Weekend,Not given,21,22
22,1478287,150599,Shake Shack,American,29.10,Weekday,5,21,30
...,...,...,...,...,...,...,...,...,...
1872,1477000,328731,Blue Ribbon Fried Chicken,American,29.59,Weekend,5,23,25
1884,1477437,304993,Shake Shack,American,31.43,Weekend,3,31,24
1885,1477550,97324,Shake Shack,American,29.05,Weekday,4,27,29
1892,1477473,97838,Han Dynasty,Chinese,29.15,Weekend,Not given,29,21
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24

In [18]:
R[R['food_preparation_time']==20] #tiempo de preparacion de comida

TypeError: 'DataFrame' object is not callable